<div class="container mt-4">
    <h2>List category computer</h2>
    <button class="btn btn-primary" (click)="openAdd()">Thêm</button>
    <table class="table table-bordered table-hover shadow-sm rounded mt-4">
        <thead>
            <tr>
                <th>Category name</th>
                <th>Descripton</th>
                <th>IsActived</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mt of list()">
                <td>{{ mt.categoryName }}</td>
                <td>{{ mt.description }}</td>
                <td>{{ mt.isActive ? 'Hoạt động' : 'Không hoạt động' }}</td>
                <td>
                    <button class="btn btn-primary" style="margin-right: 8px;" (click)="openEdit(mt)">Sửa</button>
                    <button class="btn btn-danger" (click)="deleteItem(mt.id)">Xóa</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row mt-3 justify-content-end" *ngIf="ListDataDefault.length !== 0">
        <div class="col-auto d-flex align-items-center gap-2">
            <button type="button" class="btn btn-sm btn-primary" [disabled]="IsDisablePrevious" (click)="goPrev()">
                &lt;
            </button>
    
            <div>{{ pageNumber }}</div>
    
            <button type="button" class="btn btn-sm btn-primary" [disabled]="IsDisableNext" (click)="goNext()">
                &gt;
            </button>
    
            <select class="form-select form-select-sm w-auto" [(ngModel)]="pageSize" (change)="search()">
                <option *ngFor="let item of dataPageSize" [ngValue]="item.Key">
                    {{ item.Value }}
                </option>
            </select>
        </div>
    </div>


</div>

<category-computer-popup 
    *ngIf="showForm()" 
    [data]="selected()" 
    (close)="closeForm()" 
    (save)="save($event)">
</category-computer-popup> 