<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <a class="navbar-brand" href="#">CoreComputer</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
    aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <!-- Menu trái -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item" *ngIf="role() == 'Administrator'">
        <a class="nav-link" href="/category-list">Category List</a>
      </li>
      <li class="nav-item" *ngIf="role() == 'Administrator'">
        <a class="nav-link" href="/product-list">Product list</a>
      </li>
      <li class="nav-item" *ngIf="role() == 'Administrator'">
        <a class="nav-link" href="/user-list">User list</a>
      </li>
    </ul>

    <!-- Khu vực đăng nhập / đăng xuất bên phải -->
    <ul class="navbar-nav">
      <!-- Nếu chưa đăng nhập -->
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a class="nav-link" href="/login">Login</a>
      </li>

      <!-- Nếu đã đăng nhập -->
      <li class="nav-item dropdown" *ngIf="isLoggedIn()">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
          {{ username() }}
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="/profile">Profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="/cart">Cart</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>


<div class="loading-overlay" *ngIf="loading()">
  <div class="spinner"></div>
</div>
<router-outlet></router-outlet>
